@font-face {
	font-family: 'droid_serifbold_italic';
	src: url(../../assets/fonts/droid_serifbold_italic-b5e7da05489e043dd58ca62812a0b6a3.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}